/build/
/dist/
/logs/
/*.csv
*.pyc
*.cl
*.def
*.so
*.obj
__pycache__
/doc/_build/
/doc/api/
/doc/model/
/doc/guide/models
/pylint_violations.txt
/coverage.xml
/.mplconfig
/.coverage
/.project
/.pydevproject
/.idea
/sasmodels.egg-info/
/example/Fit_*/
/example/batch_fit.csv
# Note: changes to gauss20, gauss76 and gauss150 are still tracked since they
# are part of the repo and required by some models.
/sasmodels/models/lib/gauss*.c
sasmodels/_version.py
