/build/
/dist/
/logs/
/*.csv
*.pyc
*.cl
*.def
*.so
*.obj
/doc/_build/
/doc/api/
/doc/model/
/doc/ref/models
.mplconfig
/pylint_violations.txt
/coverage.xml
/.coverage
/.project
/.pydevproject
/.idea
/sasmodels.egg-info/
